.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background: #EBE7E0;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.formulario {
    
}

.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    background: #44749D;
    color: white;
    cursor: pointer;
}

input {

}