main {
  min-height: calc(100vh - 120px);
  background-color: #C6D4E1;
  padding: 40px 60px;
}

main h1 {
  color: #44749D;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(320px, 320px)
  );
  justify-content: center;
  gap: 50px;
}